@import "../../App.css";

.card {
    width: 400px;
    border: 5px solid var(--clr-primary);
    border-radius: 8px;
}

.card__location {
    font-size: 1.5rem;
}

.card__img {
    width: 150px;
}

.card__condition {
    color: var(--clr-grey)
}

.card__temp {
    font-size: 5rem;
}

.info__icon {
    width: 25px;
}