
:root {
  --clr-primary: rgb(54, 110, 124);
  --clr-white: rgb(228, 228, 228);
  --clr-black: rgb(27, 27, 27);
  --clr-grey: rgb(193, 193, 193);
  
  --font-primary: 'Maven Pro', sans-serif;
}

body {
  color: var(--clr-white);
  font-family: var(--font-primary);
}

a {
  text-decoration: none;
}

button:hover {
  opacity: 90%;
}

input:focus {
  border-color: var(--clr-primary) !important;
}

.app {
  width: 100vw;
  height: 100vh;
  background: url("./assets//images/background.jpg");
  background-position: center;
  background-size: 100vw auto;
}

.color-primary {
  color: var(--clr-primary);
}

.text-white {
  color: var(--clr-white);
}

.text-back {
  color: var(--clr-black);
}

.background-primary {
  background-color: var(--clr-primary);
}


